root = true

[*]
indent_style = space
indent_size = 2

[src/main/components/historyScreen/**]
indent_style = space
indent_size = 4


[src/main/components/myPageScreen/**]
indent_style = space
indent_size = 4

[src/main/screens/MyPageScreen.js]
indent_style = space
indent_size = 4